@font-face {
	font-family: 'Material Symbols';
	src: url('/assets/fonts/MaterialSymbolsOutlined-VariableFont_FILL\,GRAD\,opsz\,wght.ttf') format('truetype');
	font-weight: 100 700;
}
@font-face {
	font-family: "Limkin";
	src: url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.ttf") format(truetype),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff") format(woff),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff2") format(woff2);
	font-weight: 100 900;
}
:root {
	--red: #FF734D;
	--blue: #5ADDE8;
	--purple: #A690FC;
	--yellow: #fcc03a;
	--pink: #F3A8DD;
	--green: #98DB6B;
	--off-white: #fafafa;
	--light-gray: #e5e5e5;
	--dark-gray: hsl(0, 0%, 21%);
	--off-black: #282828;
	--background1: hsl(0, 0%, 22%);
	--background2: hsl(0, 0%, 25%);
	--background-size: 20px;
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}
.symbol {
	font-family: "Material Symbols";
	transform: scale(1.5) translateY(-.05em);
	display: inline-block;
	font-variation-settings: "FILL" 1, "GRAD" 0, "opsz" 20, "wght" 400;
}
body {
	font-weight: 500;
	color: var(--off-black);
	font-family: "Limkin", sans-serif;
	background-color: var(--background2);
	font-variation-settings: "wght" 500, "SRFF" 0;
	background-image: linear-gradient(45deg, var(--background1) 25%, transparent 25%), linear-gradient(-45deg, var(--background1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--background1) 75%), linear-gradient(-45deg, transparent 75%, var(--background1) 75%);
	background-size: var(--background-size) var(--background-size);
	background-position: 0 0, 0 calc(var(--background-size) / 2), calc(var(--background-size) / 2) calc(var(--background-size) / -2), calc(var(--background-size) / -2) 0px;
	animation: background-move 2s infinite cubic-bezier(0.83, 0, 0.17, 1);
}
@keyframes background-move {
	0% {
		background-position: 0px 0px, 0px calc(var(--background-size) / 2), calc(var(--background-size) / 2) calc(var(--background-size) / -2), calc(var(--background-size) / -2) 0px;
	}
	50% {
		background-position: calc(var(--background-size) / 2) 0px, calc(var(--background-size) / 2) calc(var(--background-size) / 2), var(--background-size) calc(var(--background-size) / -2), 0px 0px;
	}
	100% {
		background-position: calc(var(--background-size) / 2) calc(var(--background-size) / -2), calc(var(--background-size) / 2) 0px, var(--background-size) calc(var(--background-size) * -1), 0px calc(var(--background-size) / -2);
	}
}

/* Nav */
.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 32px;
	display: flex;
	align-items: center;
	gap: 5px;
	overflow-x: scroll;
	z-index: 9;
	background-color: var(--off-black);
}
.nav::-webkit-scrollbar {
	display: none;
}
.nav-path {
	display: flex;
	align-items: stretch;
	gap: 5px;
	white-space: nowrap;
	font-size: 11px;
	font-weight: 750;
	font-variation-settings: "wght" 750, "SRFF" 0;
	letter-spacing: .04em;
	line-height: 1em;
	flex-grow: 1;
	padding: 0 10px;
	text-transform: uppercase;
}
.nav-path > * {
	flex-shrink: 0;
	--primary: var(--off-white);
	color: var(--primary);
	text-decoration: none;
	height: 32px;
	display: flex;
	align-items: center;
	padding: calc(5px + .2em) 10px 5px calc(10px + 0.04em);
}
.nav-path > *:nth-child(1),
.nav-path > *:nth-child(2) {
	--primary: var(--purple);
}
.nav-path > *:nth-child(3),
.nav-path > *:nth-child(4) {
	--primary: var(--red);
}
.nav-path > *:nth-child(5),
.nav-path > *:nth-child(6) {
	--primary: var(--pink);
}
.nav-path > *:nth-child(7) {
	--primary: var(--green);
}
.nav-path > *:nth-child(even) {
	pointer-events: none;
}
.nav-path > *:hover {
	background-color: var(--primary);
	color: var(--off-black);
}
.nav-path > *:active {
	opacity: .5;
}
.nav-intro {
	flex-shrink: 0;
	color: var(--off-black);
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-self: stretch;
	font-size: 11px;
	font-weight: 750;
	font-variation-settings: "wght" 750, "SRFF" 0;
	letter-spacing: .04em;
	line-height: 1em;
	height: 100%;
	padding: .2em 15px 0 15px;
	text-transform: uppercase;
	background-color: var(--yellow);
	cursor: pointer;
}
.nav-intro:hover {
	background-color: var(--off-white);
}
.nav-intro:active {
	opacity: .5;
}

/* Structure */
.container {
	position: fixed;
	bottom: 0;
	top: 32px;
	left: 0;
	right: 0;
	display: grid;
	overflow-x: scroll;
	grid-template-columns: 240px 240px minmax(480px, 1fr);
	gap: 20px;
	padding: 20px;
}

/* Intro */
.intro {
	border-radius: 5px;
	overflow: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9;
	box-shadow: 8px 8px black;
	max-width: calc(100vw - 40px);
	width: 400px;
	animation: intro-in .35s forwards cubic-bezier(0.34, 1.56, 0.64, 1);
}
@keyframes intro-in {
	from {
		transform: translate(-50%, -50%) scale(0);
	}
	to {
		transform: translate(-50%, -50%) scale(1);
	}
}
.intro[data-active="0"] {
	animation: intro-out .25s forwards cubic-bezier(0.36, 0, 0.66, -0.56);
}
@keyframes intro-out {
	from {
		transform: translate(-50%, -50%) scale(1);
	}
	to {
		transform: translate(-50%, -50%) scale(0);
	}
}
.intro-title {
	font-size: 11px;
	font-weight: 750;
	font-variation-settings: "wght" 750, "SRFF" 0;
	letter-spacing: .04em;
	line-height: 1em;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	padding: .1em 20px 0 20px;
	color: var(--off-white);
	background-color: var(--off-black);
	height: 32px;
}
.intro-content {
	padding: 20px;
	background-color: var(--yellow);
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.intro-content-heading {
	font-size: 24px;
	padding-top: .2em;
	font-weight: 500;
	letter-spacing: -0.02em;
	font-variation-settings: "wght" 500, "SRFF" 0;
	text-wrap: balance;
	line-height: 1.2em;
	position: relative;
}
.intro-content-heading strong {
	font-variation-settings: "wght" 650, "SRFF" 0;
	font-weight: 650;
}
.intro-content p {
	font-size: 14px;
	line-height: 1.3em;
	letter-spacing: -.01em;
	font-weight: 500;
	text-wrap: pretty;
	font-variation-settings: "wght" 500, "SRFF" 0;
}
.intro-content p a {
	text-decoration: 1px underline;
	text-decoration-thickness: 1px;
	text-underline-offset: .2em;
	color: var(--off-black);
}
.intro-content p a:hover {
	text-decoration: none;
}
.intro-content p a:active {
	opacity: .5;
}
.intro-button {
	font-size: 11px;
	border-radius: 5px;
	font-weight: 750;
	font-variation-settings: "wght" 750, "SRFF" 0;
	letter-spacing: .04em;
	line-height: 1em;
	min-height: 32px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .6em 10px .4em 10px;
	color: var(--off-black);
	background-color: var(--off-white);
	margin-top: 10px;
	border: unset;
	font-family: inherit;
	text-align: center;
	/* box-shadow: 8px 8px 0 var(--off); */
	cursor: pointer;
}
.intro-button:hover {
	background-color: var(--off-black);
	color: var(--off-white);
}
.intro-button:active {
	opacity: .5;
}

/* Section */
.section {
	position: relative;
	display: grid;
	grid-template-rows: 32px 1fr;
	height: calc(100dvh - 72px);
	background-color: var(--light-gray);
	box-shadow: 8px 8px black;
	border-radius: 5px;
	overflow: hidden;
}
.section:nth-child(1) {
	z-index: 3;
}
.section:nth-child(2) {
	z-index: 2;
}
.section[data-active="0"] {
	pointer-events: none;
	background-color: rgba(0,0,0,.5);
}
.section-heading {
	font-size: 11px;
	font-weight: 750;
	text-align: center;
	justify-content: center;
	font-variation-settings: "wght" 750, "SRFF" 0;
	letter-spacing: .04em;
	line-height: 1em;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	padding: .2em 15px 0 15px;
	color: var(--off-black);
	--primary: var(--pink);
	background-color: var(--primary);
}

/* Links structure */
.links {
	overflow: scroll;
	display: flex;
	flex-direction: column;
	padding-bottom: 25dvh;
}
.links-subsection {
	background-color: var(--light-gray);
	display: flex;
	flex-direction: column;
}
.links-subsection-heading {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-wrap: pretty;
	padding: calc(5px + .2em) 20px 5px 20px;
	text-align: center;
	background-color: var(--light-gray);
	color: var(--off-black);
	position: sticky;
	top: 0;
	z-index: 1;
	min-height: 32px;
	font-size: 11px;
	font-weight: 750;
	font-variation-settings: "wght" 750, "SRFF" 0;
	letter-spacing: .04em;
	line-height: 1em;
}

/* Individual links */
.link {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
	background-color: var(--off-white);
	color: var(--off-black);
	padding: 20px;
	border-left: 10px solid var(--primary);
}
.link:nth-child(6n+2) {
	--primary: var(--pink);
}
.link:nth-child(6n+3) {
	--primary: var(--green);
}
.link:nth-child(6n+4) {
	--primary: var(--blue);
}
.link:nth-child(6n+5) {
	--primary: var(--yellow);
}
.link:nth-child(6n+6) {
	--primary: var(--purple);
}
.link:nth-child(6n+1) {
	--primary: var(--red);
}
.link:nth-child(6n+2)[data-active="1"] {
	background-color: var(--pink);
}
.link:nth-child(6n+3)[data-active="1"] {
	background-color: var(--green);
}
.link:nth-child(6n+4)[data-active="1"] {
	background-color: var(--blue);
}
.link:nth-child(6n+5)[data-active="1"] {
	background-color: var(--yellow);
}
.link:nth-child(6n+6)[data-active="1"] {
	background-color: var(--purple);
}
.link:nth-child(6n+1)[data-active="1"] {
	background-color: var(--red);
}
.link:hover {
	background-color: var(--primary);
}
.link:active {
	opacity: .5;
}
.link-title {
	font-size: 18px;
	padding-top: .2em;
	font-weight: 500;
	letter-spacing: -0.02em;
	font-variation-settings: "wght" 500, "SRFF" 0;
	text-wrap: pretty;
	line-height: 1.2em;
	position: relative;
}
.link-version {
	opacity: .5;
	font-size: .5em;
	padding-left: .25em;
	letter-spacing: 0.05em;
}
.link-desc {
	font-size: 12px;
	line-height: 1.3em;
	font-weight: 500;
	text-wrap: pretty;
	opacity: .75;
	margin-bottom: 5px;
	font-variation-settings: "wght" 500, "SRFF" 0;
}
.link-tags {
	display: flex;
	flex-wrap: wrap;
	white-space: nowrap;
	gap: 10px;
	text-transform: uppercase;
	opacity: .5;
}
.link-tag {
	line-height: 1em;
	font-weight: 550;
	font-size: 8px;
	letter-spacing: .06em;
	font-variation-settings: "wght" 550, "SRFF" 0;
}
.link-newtab {
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-variation-settings: "wght" 550, "SRFF" 0;
	font-weight: 550;
	color: var(--off-black);
	width: 15px;
	padding-top: .2em;
	height: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1em;
	border-radius: 50%;
	font-size: 12px;
	background-color: var(--light-gray);
}
.link-newtab:hover {
	background-color: var(--off-black);
	color: var(--off-white);
}

/* Content preview */
.section[data-active="0"] .preview {
	display: none;
}
.preview {
	display: grid;
	grid-template-rows: 1fr auto;
}
.preview-embed {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.preview-embed iframe {
	border: unset;
	width: 100%;
	height: 100%;
	background-color: white;
}
.preview-url {
	border-top: .5px solid var(--off-black);
	height: 32px;
	background-color: var(--off-white);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 16px;
	font-size: 12px;
	color: var(--off-black);
	text-decoration: none;
	font-weight: 500;
	font-variation-settings: "wght" 500, "SRFF" 0;
	gap: 10px;
	line-height: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	justify-content: space-between;
}
.preview-url span {
	padding-top: .2em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.preview-url-arrow {
	flex-shrink: 0;
	font-variation-settings: "wght" 550, "SRFF" 0;
	font-weight: 550;
	color: var(--off-black);
	width: 15px;
	padding-top: .2em;
	height: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1em;
	border-radius: 50%;
	font-size: 12px;
	background-color: var(--light-gray);
}
.preview-url:hover {
	background-color: var(--off-black);
	color: var(--off-white);
}
.preview-url:active {
	opacity: .5;
}

/* Content preview for newtab required resources */
.section[data-active="1"][data-newtab="1"] .preview {
	padding: 20px;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.section[data-newtab="0"] .preview-newtab {
	display: none;
}
.preview-newtab {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 18px;
	padding-top: .2em;
	font-weight: 500;
	letter-spacing: -0.02em;
	font-variation-settings: "wght" 500, "SRFF" 0;
	text-wrap: pretty;
	line-height: 1.2em;
	gap: .55em;
}
.section[data-active="1"][data-newtab="1"] .preview-embed {
	display: none;
}
.section[data-active="1"][data-newtab="1"] .preview-url {
	max-width: 100%;
	border-top: unset;
	box-shadow: 8px 8px black;
	border-radius: 5px;
}

/* Empty notice */
.empty {
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	color: var(--off-white);
	letter-spacing: .04em;
	font-size: 11px;
	font-weight: 750;
	font-variation-settings: "wght" 750, "SRFF" 0;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: .2em 20px 0 20px;
}
.section[data-active="1"] .empty {
	display: none;
}

/* Mobile controls */
.mobile-controls {
	position: fixed;
	bottom: 0;
	height: 32px;
	display: none;
	overflow-x: scroll;
	grid-template-columns: 1fr 1fr 1fr;
	right: 0;
	left: 0;
	background-color: var(--off-black);
}
.mobile-controls::-webkit-scrollbar {
	display: none;
}
.mobile-controls-btn {
	height: 100%;
	font-size: 11px;
	font-weight: 750;
	font-variation-settings: "wght" 750, "SRFF" 0;
	letter-spacing: .04em;
	text-transform: uppercase;
	padding-top: .2em;
	display: flex;
	font-family: "Limkin", sans-serif;
	gap: 10px;
	align-items: center;
	justify-content: center;
	--primary: var(--light-gray);
	background-color: var(--primary);
	flex-shrink: 0;
	z-index: 1;
	text-align: center;
	border: unset;
	color: var(--off-black);
	cursor: pointer;
}
.mobile-controls-btn:hover {
	opacity: .8;
}
.mobile-controls-btn:active {
	opacity: .5;
}

/* Mobile styles */
@media only screen and (max-width: 700px) {
	.nav {
		border-bottom: unset;
	}
	.container {
		grid-template-columns: repeat(3, 100vw);
		scroll-snap-type: x mandatory;
		bottom: 32px;
	}
	.section {
		scroll-snap-align: start;
		scroll-padding-left: 20px;
		scroll-margin-left: 20px;
		width: calc(100vw - 40px);
		height: calc(100dvh - 104px);
	}
	.mobile-controls {
		display: grid;
	}
}